config:
  credentials: []
  project_repos:
    sqaaas-web:
      branch: master
      deploy_template: .sqa/docker-compose.yml
      repo: https://github.com/EOSC-synergy/sqaaas-web.git
environment: {}
sqa_criteria:
  qc_doc:
    repos:
      sqaaas-web:
        commands:
        - npm run deploy
        container: node
        tox:
          testenv: []
          tox_file: ''
